{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <h1 class="my-4">Bienvenue
            <small>Geolocation App</small>
        </h1>

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-fluid" src="{{ asset('build/images/geolocation.jpg') }}" alt="geolocation">
            </div>

            <div class="col-md-4 px-5">
                <h3 class="my-3">{{ app.user.prenom }} {{ app.user.nom }}</h3>
                <p>Email: {{ app.user.email }}</p>
                <p>Sexe : {{ app.user.sexe }}</p>
                <p>Date de naissance : {{ app.user.dateDeNaissance }}</p>
                <p>Metier : {{ app.user.metier }}</p>
                <p>Pays : {{ app.user.pays }}</p>

            </div>

        </div>
        <!-- /.row -->



    </div>
    <!-- /.container -->
{% endblock %}